*{
  padding: 0;
  margin: 0;
  font-weight: 700; 
  border-radius: 20px;
  font-size: 23px;
}
body{
  background-color: #2b272773;
}

.App {  
  background-color: #2b2727;
  text-align: center;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  margin: 0 auto; 
  margin-top: 8%;
  width: 340px;
  height: 550px;
  border-radius: 13px;
  align-items: center; 
} 
.container{ 
  height: 55%; 
  width: 90%; 
  margin-top: 5px;
  display: flex;  
  justify-content: center; 
  gap: 10px;
}

.btn{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  height: 100%;
  width: 65%;  
  gap: 15px; 
  align-items: center; 
}

.row{
  display: flex; 
  gap: 10px; 
}

#equals{
  width: 60px;
  height: 134px; 
  background-color: #19a530;
  cursor: pointer;
}

#decimal{
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.operation{
  display: flex; 
  justify-content: center;
  gap: 10px;
}

#clear{   
  width: 60px;
  height: 60px;
  background-color: #f03737e7;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

.extra-btn{
  display: flex;
  flex-direction: column; 
  gap: 15px;
  margin-top: 8px; 
}

.last-line{
  display: flex; 
  margin: 0 auto;
  gap: 10px; 
}